
    <!-- Hero Section -->
<section class="hero-section rellax" data-rellax-speed="0">
    <div class="container hero-container"> 
        <div class="icons8-audi-hero rellax" data-rellax-speed="2"></div>
        <div class="icons8-mercedes-benz-hero rellax" data-rellax-speed="2"></div>
        <h1 class="paragraph dollar">
            MONTANA GARAGE
        </h1>
        <p class="main-title">
            ваш <span class="partner">надійний партнер</span> у світі автомобілів!</p>
        <p class="main-title">Сучасна діагностика, уважний сервіс і професійний ремонт - усе, щоб ви їздили без турбот.</p>
            
    </div>
</section>


    <!-- Services Section-->
    <section class="services-section rellax" data-rellax-speed="2" id="services">
        <div class="container services-container">
            <h2 class="services">ПОСЛУГИ</h2>
            <ul class="services-list element-stretch">
                <li class="services-list-item">
                    <h3 class="services-list-title">діагностика</h3>
                    <ul>
                        <li class="services-list-text">Перевірка та заміна масла</li>
                        <li class="services-list-text">Діагностика електроніки та систем автомобіля</li>
                        <li class="services-list-text">Перевірка та обслуговування гальмівної системи</li>
                        <li class="services-list-text">Регулювання та заміна запчастин</li>
                        <li class="services-list-text">Комп'ютерна діагностика двигуна і трансмісії</li>
                    </ul>
                </li>
            </ul>
    
            <ul class="services-list">
                <li class="services-list-item">
                    <h3 class="services-list-title">ремонт</h3>
                    <ul>
                        <li class="services-list-text">Ремонт двигуна та трансмісії</li>
                        <li class="services-list-text">Ремонт підвіски та ходової частини</li>
                        <li class="services-list-text">Чистка систем кондиціонування та охолодження</li>
                        <li class="services-list-text">Заміна фреону</li>
                    </ul>
                </li>
            </ul>
    
            <ul class="services-list">
                <li class="services-list-item">
                    <h3 class="services-list-title">інші послуги</h3>
                    <ul>
                        <li class="services-list-text">Установка додаткових аксесуарів</li>
                        <li class="services-list-text">Замовлення та установка нових комплектуючих</li>
                    </ul>
                </li>
            </ul>
            <div class="icons8-audi rellax" data-rellax-speed="2"></div>
        <div class="icons8-jeep rellax" data-rellax-speed="2"></div>
        </div>
    </section>


     <!-- Photo Section -->
<section class="photo-section  rellax" data-rellax-speed="1" id="photo">
    
    <div class="container photo-container">
        <div class="icons8-mitsubishi rellax" data-rellax-speed="2"></div>
        <div class="swiper swiper-photo">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                <a class="photo-simple" href="./img/IMG_20241211_182154_514.jpg">
                    <img alt="Military vehicle repair" loading="lazy" src="/img/IMG_20241211_182154_514.jpg" />
                </a>
                </div>
                <div class="swiper-slide">
                    <a class="photo-simple" href="./img/IMG_20241210_221251_699.jpg">
                        <img alt="Military vehicle repair" loading="lazy" src="/img/IMG_20241210_221251_699.jpg" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a class="photo-simple" href="./img/IMG_20241210_202406_637.jpg">
                        <img alt="Mercedes" loading="lazy" src="/img/IMG_20241210_202406_637.jpg" />
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev photo-prev"></div>
            <div class="swiper-button-next photo-next"></div>
        </div>
    </div>
    <div class="icons8-toyota rellax" data-rellax-speed="2"></div>
</section>


    <!-- About Us-->
    <section class="about-section" id="about">
        <div class="container">
            <h2 class="about-title">ПРО НАС</h2>
            <p class="paragraph-about">
                Наше СТО — сучасне і готове забезпечити вас
                <span class="partner">високоякісним обслуговуванням</span>
                всіх типів автомобілів. Ми працюємо з різними марками та моделями, включаючи військову, гарантуючи
                надійність і професіоналізм у кожній деталі.
            </p>
    
            <div class="swiper about-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="photo-simple" href="./img/IMG_20250211_205334_618.jpg" >
                            <img class="about-paragraph" alt="MERSEDES" loading="lazy" src="/img/IMG_20250211_205334_618.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="photo-simple" href="./img/IMG_20250211_205334_040.jpg">
                            <img class="about-paragraph" alt="MERSEDES" loading="lazy" src="/img/IMG_20250211_205334_040.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="photo-simple" href="./img/IMG_20250211_205333_925.jpg">
                            <img class="about-paragraph" alt="Car repair" loading="lazy" src="/img/IMG_20250211_205333_925.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="photo-simple" href="./img/IMG_20241211_182154_514.jpg">
                            <img class="about-paragraph" alt="Car repair" loading="lazy" src="/img/IMG_20241211_182154_514.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="photo-simple" href="./img/IMG_20241210_221251_699.jpg">
                            <img class="about-paragraph" loading="lazy" alt="Military vehicle repair"
                                src="/img/IMG_20241210_221251_699.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="photo-simple" href="./img/IMG_20241210_202406_637.jpg">
                            <img class="about-paragraph" alt="MERSEDES" loading="lazy" src="/img/IMG_20241210_202406_637.jpg" />
                        </a>
                    </div>
                </div>
    
                <div class="swiper-button-prev about-prev"></div>
                <div class="swiper-button-next about-next"></div>
            </div>
        </div>
    </section>


     <!-- Map Section-->
    <section class="map-section  rellax" data-rellax-speed="1" id="location">
        <div class="icons8-mercedes-benz rellax" data-rellax-speed="2"></div>
        <div class="container map-container">  
            <img alt="auto-mechanic" class="map-img" loading="lazy" src="./img/Cartoon-style_male_auto_mechanic_standing_next_to_.jpg" width="380" height="380">
            <a class="map-button" 
             target="_blank"
            rel="noopener noreferrer"
            href="https://maps.app.goo.gl/Pdu2cDNvLXFXffDj6"> 
            <span> Велика Кільцева 4Г </span>
            </a>
        <iframe class="map-frame"
            src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d5083.544318073704!2d30.361652736284473!3d50.42671652879116!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTDCsDI1JzM2LjIiTiAzMMKwMjEnNDIuMCJF!5e0!3m2!1suk!2sUA!4v1739888550673!5m2!1suk!2sUA"
            width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

        </div>
      
    </section>
    