
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container">
            <h1 class="paragraph"> 
               MONTANA GARAGE
            </h1>
            <p class="main-title">
                ваш <span class="partner">надійний партнер</span> у світі автомобілів!
               <p class="main-title"> Ми пропонуємо сучасну діагностику, бездоганний сервіс і якісний ремонт, щоб ваш автомобіль завжди був у відмінному стані</p>
            </p>
        </div>
    </section>

    <!-- Services Section-->
     <section class="services-section" id="services"> 
        <div class="container services-container"> 
            <h2 class="services">ПОСЛУГИ</h2>
        <ul class="services-list"> 
            <li class="services-list-item"> 
                <h3 class="services-list-title">діагностика</h3>
                   <li class="services-list-text">Перевірка та заміна масла</li>
                    <li class="services-list-text">Діагностика електроніки та систем автомобіля</li>
                    <li class="services-list-text">Перевірка та обслуговування гальмівної системи</li>
                    <li class="services-list-text"> Регулювання та заміна запчастин</li>
                    <li class="services-list-text">Комп'ютерна діагностика двигуна і трансмісії</li>   
            </li>
        </ul>
            <ul class="services-list">
            <li class="services-list-item">
                <h3 class="services-list-title">ремонт</h3>
                <li class="services-list-text">Ремонт двигуна та трансмісії</li>
            <li class="services-list-text">Ремонт підвіски та ходової частини</li>
            <li class="services-list-text"> Заміна фреону та чистка систем кондиціонування та охолодження</li>  

            </li>
            </ul>
            <ul class="services-list">
            <li class="services-list-item">
                <h3 class="services-list-title">інші послуги</h3>
                <li class="services-list-text">Установка додаткових аксесуарів</li> 
                <li class="services-list-text">Замовлення та установка нових комплектуючих</li> 
            </li>
            </ul>
        </ul>
        </div>
     </section>

     <!-- Photo Section -->
    <section class="photo-section" id="photo"> 
    <div class="container photo-container">
          <img class="photo-hand" src="../img/63122c7c0d09395c8ecfd791_Asset.png.png">
          <img src="../img/IMG_20241211_182154_514.jpg" width="500" height="300">
          <img class="photo-hand" src="../img/63122c774c17c17f583cfacb_Asset.png.png">
    </div>
    </section>

    <!-- About Us-->
     <section class="about-section" id="about"> 
        <div class="container"> 
            <h2 class="about-title">ПРО НАС</h2>
            <p class="paragraph-about">Наше СТО — сучасне і готове забезпечити вас <span class="partner">високоякісним обслуговуванням </span> всіх типів автомобілів. Ми працюємо з різними марками та моделями, включаючи військову, гарантуючи надійність і
            професіоналізм у кожній деталі.</p>
             <img class="about-paragraph" src="../img/IMG_20241210_221251_699.jpg" width="500" height="300"></p>
        </div>
     </section>

     <!-- Map Section-->
    <section class="map-section" id="location">
        <div class="container map-container">  
            <p class="map-title"> Велика Кільцева 4Г</p>
            <iframe class="map-frame"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d226.45816434843957!2d30.360395898212776!3d50.42689518328364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cb9c18600779%3A0x59d161e87f4dd131!2z0LLRg9C7LiDQktC10LvQuNC60LAg0JrRltC70YzRhtC10LLQsCwgNNCzLCDQn9C10YLRgNC-0L_QsNCy0LvRltCy0YHRjNC60LAg0JHQvtGA0YnQsNCz0ZbQstC60LAsINCa0LjRl9Cy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDA4MTI5!5e0!3m2!1sru!2sua!4v1738586037549!5m2!1sru!2sua"
                width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    