:root {
  --font-family: "Inter", sans-serif;
    --second-family: "Jura", sans-serif;
    --third-family: "Lakki Reddy", sans-serif;
 
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #000000;

  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  cursor: default;
}


main {
  flex-grow: 1;
}

