.footer {
  margin-bottom: 64px;
  text-align: center;
}
.footer-desc {
  text-align: center;
  font-weight: 400;
    font-size: 32px;
    line-height: 0.9375;
    text-align: center;
    color: #e5e5e5;
}
.highlight {
  display: block;
  text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.9375;
    text-align: center;
    color: #e5e5e5;
}
.order-service-btn {
  color: #e5e5e5;
  background: linear-gradient(#19AAE3, #02033B);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin: 32px auto 0;
    display: inline-block;
}




