.footer {
   margin-bottom: 68px;
}
.footer-desc {
  text-align: center;
  font-weight: 400;
    font-size: 32px;
    line-height: 0.9375;
    text-align: center;
    color: #e5e5e5;
}
.highlight {
  display: block;
  text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.9375;
    text-align: center;
    color: #e5e5e5;
}
.order-service-btn {
  background: linear-gradient(#19AAE3, #02033B);
  color: #e5e5e5;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 24px;
}

.order-service-btn:hover {
  background-color: linear-gradient(#00b7ff, #010106, );
}